body{
    background-image:url(book.jpg);
    background-size: 100% 900px;
    background-repeat: no-repeat;
    position: relative;
}
.holder
{
    width: 300px;
    height: 350px;
    background-color: transparent;
    border: 8px solid bisque;
    margin-top: -37px;
    margin-left: 600px;
}
#info
{
    margin-top: 40px;
    margin-left: 48px;
    font-size: 20px;
    font-family:cursive;
}
#info input{
    height: 25px;
    width: 200px;
    font-family:cursive;
}
.login input
{
    font-size:22px;
    width: fit-content;
    background-color:white;
    color:black;
    text-decoration: none;
    font-family:cursive;
    margin-left: 98px;
    margin-top: 30px;
}
body h3{
    width: fit-content;
    padding: 0px 20px 0px 20px;
    background-color:bisque;
    color:black;
    margin-top: 190px;
    margin-left: 625px;
    font-size: 35px;;
    font-family: cursive;
}
.holder a{
    font-size: 13px;
    margin-left: 175px;
}
.checkbox
{
    scale: 0.7;
    margin-left: -90px;
    margin-top: 10px;
}
#t
{
    margin-left: -70px;
    font-size: 20px;
    
}